a {
  color: #777;
}
 .navbar-brand{
  margin-top: -10px;
  margin-left:-10px;
  background: #29d1ce;
  color:#FFFFFF;
  text-decoration: none;
}
.full-width-navbar-brand{
  text-align: center;
  width:100%;
  background: #29d1ce;
  color:#FFFFFF;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}
.full-width-navitems{
  width:100%;
  margin: auto;
  background:#FFFFFF;
} 
.navbar{
  background:#FFFFFF;

}

.main-nav {
 width: 100%;
 padding: 10px 0px;
}

.make-bg-white{
  background:#FFFFFF;
}

/* @media (max-width: 500px) {
  .navbar {
    padding: 0;
  }
  
  .navbar-brand {
    flex: 100%;
    text-align: center;
    background: #29d1ce;
    margin: 0;
  }
  
  .nav {
    margin: 0 auto;
  }
} */


html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-image: url('../images/greek-vase.png');
font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color:#4AAAA5;
}

.box1{
height:200px;
width:200px;
border: 1px, solid, black;
}

.portfolio-item{
position: relative;
text-align: center;
}

.portfolio-item-text{
position: absolute;
top:70%;
width:100%;
background-color:tan;
padding-top: 10px;
padding-bottom: 10px;
color:#FFFFFF;
}

.about-me-image{
  float: left;
  margin:5px 25px 10px 5px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.about-me-image-full-width{
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.about-me-paragraph{
  margin:5px;
}